In [2]:
import pandas as pd

In [3]:
s1 = pd.core.series.Series([1,2,3])
s2 = pd.core.series.Series(['one','two','three'])

In [4]:
pd.DataFrame(data=dict(num=s1, word=s2))

   num   word
0    1    one
1    2    two
2    3  three

In [5]:
L = [1,2,3,4,5]
pd.Series(L)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
import random
import numpy as np
ran_list = pd.DataFrame(np.random.randn(5,4), columns=list('ABCD'))
ran_list.head()

          A         B         C         D
0  0.546341  0.963285  0.521373 -0.496332
1 -0.185871 -0.836130 -0.373594  0.403254
2  0.900290 -0.367434  0.291189  0.888446
3 -1.704836 -0.066360 -0.681217  0.146987
4  1.803514  2.723091  1.057369 -1.621012

In [26]:
ran_list.to_csv('ran_list.csv')

In [27]:
pd.read_csv('ran_list.csv')

   Unnamed: 0         A         B         C         D
0           0  0.546341  0.963285  0.521373 -0.496332
1           1 -0.185871 -0.836130 -0.373594  0.403254
2           2  0.900290 -0.367434  0.291189  0.888446
3           3 -1.704836 -0.066360 -0.681217  0.146987
4           4  1.803514  2.723091  1.057369 -1.621012

데이터프레임 생성1

In [7]:
friend_list = [
    {'name':'John', 'age':25, 'job':'student'},
    {'name':'Nate', 'age':35, 'job':'teacher'}
]

In [8]:
df = pd.DataFrame(friend_list)

In [9]:
df.head()

   name  age      job
0  John   25  student
1  Nate   35  teacher

In [10]:
df = df[['name','age','job']]

In [11]:
df.head()

   name  age      job
0  John   25  student
1  Nate   35  teacher

데이터프레임 생성2

In [12]:
from collections import OrderedDict

In [13]:
friend_ordered = OrderedDict(
    [
        ('name',['John','Nate']),
        ('age',[25,30]),
        ('job',['student','teacher'])
    ])

In [14]:
df = pd.DataFrame.from_dict(friend_ordered)

In [15]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

데이터프레임 생성3

In [16]:
friend_list = [
    ['John', 25, 'student'],
    ['Nate', 30, 'teacher']
]

In [17]:
column_name = ['name','age','job']

In [18]:
df = pd.DataFrame.from_records(friend_list,columns=column_name)

In [19]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

데이터프레임 생성4

In [20]:
friend_list = [
    ['name', ['John','Nate']],
    ['age', [25,44]],
    ['job', ['student','teacher']]
]

In [21]:
df = pd.DataFrame.from_items(friend_list)

AttributeError: type object 'DataFrame' has no attribute 'from_items'

In [ ]:
df.head()

In [28]:
ran_list[1:3]

          A         B         C         D
1 -0.185871 -0.836130 -0.373594  0.403254
2  0.900290 -0.367434  0.291189  0.888446

In [30]:
# ran_list = ran_list[1:3]
# ran_list

         A         B         C         D
2  0.90029 -0.367434  0.291189  0.888446

In [38]:
df.loc[[0,2]] #index?

   Unnamed: 0  name  age        job
0           0  John   25    student
2           2  Shin   31  developer

In [39]:
df[df.age>25]

   Unnamed: 0  name  age        job
1           1  Nate   30    teacher
2           2  Shin   31  developer

In [41]:
df.query('age>25')

   Unnamed: 0  name  age        job
1           1  Nate   30    teacher
2           2  Shin   31  developer

In [43]:
df[(df.age>25)&(df.name=='Shin')] #색인

   Unnamed: 0  name  age        job
2           2  Shin   31  developer

In [83]:
#Filter Column by index
friend_list = [
    ['John', 25, 'student'],
    ['Nate', 30, 'teacher'],
    ['Shin', 31, 'developer']
]
column_name = ['name','age','job']
df = pd.DataFrame.from_records(friend_list, columns=column_name)

df

   name  age        job
0  John   25    student
1  Nate   30    teacher
2  Shin   31  developer

In [53]:
df.iloc[:,0:2]

   name  age
0  John   25
1  Nate   30
2  Shin   31

In [54]:
df.filtered = df[['name','age']]
df.filtered

   name  age
0  John   25
1  Nate   30
2  Shin   31

In [59]:
df.filter(items=['age'])

   age
0   25
1   30
2   31

In [63]:
df.filter(like='a',axis=1)

   name  age
0  John   25
1  Nate   30
2  Shin   31

In [75]:
df.filter(regex='b$',axis=1) #b로 끝나는 것

In [91]:
friend = [
    {'age' : 25, 'job':'student'},
    {'age': 30, 'job':'teacher'},
    {'age': 31, 'job':'developer'}
]
df = pd.DataFrame(friend, index = ['John','Jenny','Nate'], columns=['age','job'])

KeyError: "['John' 'Nate'] not found in axis"